@require "./common/consts/consts"

#app
  display: flex
  height: 100vh

div
  &.desktop-drawer
    display: auto
    flex-shrink: 0
    width: 240px
    @media (max-width: 1024px)
      display: none

  &.mobile-drawer
    display: auto
    @media (min-width: 1025px)
      display: none

  &.tab-content
    padding: padding[small]
    display: flex
    flex-direction: column
    flex-grow: 1
    flex-shrink: 1
    @media (max-width: 1024px)
      margin-top: 56px

  &.ReactTable
    flex-grow: 1