@require "../stylus/consts"

#app
  display: flex
  height: 100vh

div
  &.drawer
    flex-shrink: 0
    width: 240px

  &.tab-content
    padding: padding[small]
    display: flex
    flex-direction: column
    flex-grow: 1
    flex-shrink: 1

  &.ReactTable
    flex-grow: 1