div
  &.tabs
    display: flex
    flex-shrink: 0

  &.fake-tab
    flex-grow: 1
    border-bottom: solid 1px #ddd

  &.tab-content
    padding: 10px
    display: flex
    flex-direction: column
    flex-grow: 1

  &.ReactTable
    flex-grow: 1

h1
  &.title
    padding: 10px 25px 10px 25px
    font-size: 21px
    flex-shrink: 0