div
    &.past-events-list-panel
        margin: 0 !important
        color: rgba(0, 0, 0, 0.87);
        font-size: 1rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        box-shadow: none

    &.past-events-list-summary
        height: 46px
        padding: 11px 16px 11px 16px
        min-height: 0 !important

        > div
            margin: 0 !important

    &.past-events-list-details
        margin: 0
        padding: 0

.MuiExpansionPanel-root-101:before
    display: none