div 
    &.match-up-calculator-container
        display: flex
        align-items: baseline
        flex-wrap: wrap
        justify-content: center

    &.team-chances
        text-align: center

    &.team-selection
        width: 250px

span 
    &.versus
        padding-left: 10px
        padding-right: 10px