.brand-filter
    min-width: 400px

div
    &.filter-container
        display: flex
        align-items: center
        justify-content: center

    &.table-filters
        display: flex
        align-items: center
        flex-wrap: wrap
        justify-content: space-around
        padding-bottom: 10px

.gender-filter
    min-width: 150px

label
    &.filter-labels
        margin-right: 10px

.name-filter
    color: #333
    font: 14px Helvetica, arial, sans-serif
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 36px;
    padding-left: 10px
