div 
    &.faq
        overflow: auto
        overflow-y: scroll
        align-self: center
        padding: 25px 0 25px 0
        max-width: 900px
        position: relative

    &.plain-text
        padding: 10px

h3
    padding-top: 10px

.formula
    padding: 25px
    display: flex
    justify-content: space-evenly
    align-items: center

