@require "../../stylus/consts"

div
    &.past-event-matches
        padding: padding[small]
        display: flex
        flex-direction: column
        justify-content: space-around

    &.past-event-match
        padding: padding[medium]
        margin: padding[small]
        display: flex
        flex-direction: column
        justify-content: space-around
        border: lightgrey 1px solid
        width: 800px
        border-radius: 4px
        align-self: center

    &.past-event-teams
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        width: 800px
        align-self: center

    &.past-event-team
        padding: padding[medium] padding[medium] 0 padding[medium]

    &.past-event-participant
        padding: padding[small] 0 padding[small] 0

    &.past-event-elo-change-win
        color: green
        display: inline

    &.past-event-elo-change-loss
        color: red
        display: inline

h1
    &.past-event-name
        font-size: 18px
        text-align: center

h2
    &.past-event-date
        font-size: 16px
        text-align: center

h3
    &.past-event-stipulation
        text-align: center