div
    &.title-holder-and-contenders
        padding: 10px
        margin: 10px
        display: flex
        justify-content: space-around
        border: grey 1px solid
        width: 800px
        border-radius: 4px

    &.title-holder
        width: 250px
        display: flex
        flex-direction: column
        justify-content: space-between

    &.contenders
        width: 350px
        display: flex
        flex-direction: column

    &.wrestler
        display: flex
        justify-content: space-between

    &.contender
        width: 250px
        display: flex
        justify-content: space-between
