div
    &.title-holder-and-contenders
        padding: 10px
        margin: 10px
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        border: lightgrey 1px solid
        width:90%
        max-width: 800px
        border-radius: 4px
        align-self: center

    &.content-title
        border: none 
        padding-bottom: 0px

    &.title-belt
        font-weight:bold

    &.contenders
        width:100%
        max-width: 350px
        margin: 10px
        display: flex
        flex-direction: column

    &.wrestler
        display: flex
        justify-content: space-between

    &.contender
        width:100%
        max-width: 250px
        display: flex
        justify-content: space-between

    &.text-box-spacing
        margin: 0 10px 0 10px

.title-holder
    width:100%
    max-width: 250px
    margin: 10px
    display: flex
    flex-direction: column
    justify-content: space-between

h2
    font-weight: bold
    font-size: 16px
    text-align: center
    margin: 0 10px 0 10px
