body {
  font: 14px/1.5 Helvetica, arial, sans-serif;
  background-color: $color-background;
  color: $color-black;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div
  &.ReactTable
    height: 800px