body {
  font: 14px/1.5 Helvetica, arial, sans-serif;
  background-color: $color-background;
  color: $color-black;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div
  &.ReactTable
    height: 800px

  &.tabs
    display: flex

  &.fake-tab
    flex-grow: 1
    border-bottom: solid 1px #ddd

  &.tab-content
    padding: 10px

h1
  &.title
    padding: 10px 25px 10px 25px
    font-size: 21px