body {
  font: 14px/1.5 Helvetica, arial, sans-serif;
  background-color: $color-background;
  color: $color-black;
}

hr {
  margin: 2.4rem 0;
  height: 2px;
  border: 0;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1),
              inset 0px -1px 0px rgba(255, 255, 255, 0.1)
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  color: $color-white;
}

a:hover {
  color: $color-secondary-light;
}